@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Girassol', cursive;
  color: #92a9b0;
  background: #e9f0f2;
}

.header {
  height: 100vh;
  align-items: center;
  text-align: center;
  vertical-align: center;
  position: relative;
  left: 0;
  right: 0;
  top: 50%;
  margin-bottom: 20px;
  justify-content: center;
  display: flex;
  flex-flow: column;
}

h1 {
  display: flex;
  text-align: center;
  font-size: 5em;
}

h2 {
  display: flex;
  text-align: center;
  font-size: 2em;
}

.main {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  text-align: left;
  width: 40em;
  font-size: 1.5em;
}

img {
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.restart {
  align-items: center;
  text-align: center;
  vertical-align: center;
  position: relative;
  justify-content: center;
  display: flex;
  flex-flow: column;
}

p {
  padding-bottom: 30px;
}

.intro p {
  font-size: 1.5em;
}
.quote p {
  padding-bottom: 15px;
  align-items: center;
  text-align: center;
  vertical-align: center;
  position: relative;
  justify-content: center;
  display: flex;
  flex-flow: column;
}
